<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Init Vue App</title>
    <script src="https://unpkg.com/vue@3"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="appdiv">
        <form action="" @submit.prevent="handleSubmit()">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" v-model="formData.name">
                <p>{{ formData.name }}</p>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" v-model="formData.email">
                <p>{{ formData.email }}</p>
            </div>

            <div class="form-group">
                <button type="submit">Submit</button>
            </div>

        </form>
    </div>

    <script src="main.js"></script>

</body>

</html>